  <div class="center hero-unit">
    <h1>Welcome to E-learning</h1>
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
  <h1>E-Learning</h1>
