<% provide(:title, 'Lessons') %>
<h1>Lessons</h1>
<ul class="lesson">
  <%= @lesson.description %>
  <section>
    <%= link_to "Start this lesson", '#',
        class: "btn btn-large btn-primary" %>
  </section>
</ul>
